@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
  padding: 0em;
  background-color: #e2e2e2;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  padding-left: 0.5em;
  font-size: 1.5em;
  line-height: 1.4;
}

.text {
  padding-left: 1em;
}

img {
  width: 100%;
}

p {
  margin-top: 0em;
}

h2 {
  margin-bottom: 0em;
  font-size: 1em;
}

a {
  color: white;
  text-decoration: none;
  background-color: #555;
  padding: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: #555;
  border-radius:4px;

}

.button {
  padding-top: 1em;
  padding-bottom: 1em;
}
